<!DOCTYPE html>
<!-- These contains the form that has to be shown -->
<!--  Form used to edit userAward -->
<div class="addNewUserAward basic-form col-sm-8">
	<form role="form" class="userAwardForm">

		<div class="form-group userAwardIdGrp" style="display: none">
			<input type="text" class="form-control userAwardId"
				name="awardId" value=' + awardObj.awardId + '>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group userAwardNameGrp">
					<label for="userAwardName">Award Name:</label> <input type="text"
						class="form-control userAwardName" name="title"
						value="' + ((checkEmpty(awardObj.title))? "" : awardObj.title) + '">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group userAwardDateGrp">
					<label for="userAwardDate">Award Date:</label> <input type="date"
						class="form-control userAwardDate" name="date"
						value=' + ((checkEmpty(awardObj.date))?"":awardObj.date) + '>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group userAwardOrganisationNameGrp">
					<label for="userAwardOrganisationName">Organisation Name:</label> <input type="text" 
						class="form-control typeahead userAwardOrganisationName" name="organisationName" 
						value="'+ ((checkEmpty(awardObj.organisationName))?"":awardObj.organisationName)+'">
				</div>
			 </div>
		</div>
		<div class="form-group text-center">
			<button type="button" style="margin-left: 10px; margin-right: 10px" 
				class="btn btn-primary text-center cancelUserAward">
				Cancel<i style="margin-left: 4px; margin-right: 4px; color:rgb(190, 35, 35)" 
					class="fa fa-remove"></i>
			</button>
			<button type="button" style="margin-left: 10px; margin-right: 10px" 
				class="btn btn-primary text-center saveUserAward">
				Save<i style="margin-left: 4px; margin-right: 4px; color:rgb(54, 207, 120)" 
					class="fa fa-check"></i>
			</button>
			<button type="button" style="margin-left: 10px; margin-right: 10px" 
				class="btn btn-primary text-center deleteUserAward">
				Remove<i style="margin-left: 4px; margin-right: 4px; color:rgb(236, 244, 216)" 
					class="fa fa-trash-o"></i>
			</button>
		</div>		
	</form>
</div>


<!--  Form used to add new UserAward -->
<div class="addNewUserAward basic-form col-sm-8">
	<form role="form" class="userAwardForm">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group userAwardNameGrp">
					<label for="userAwardName">Award Name:</label> <input type="text"
						placeholder="Add Award Name" class="form-control userAwardName" name="title">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group userAwardDateGrp">
					<label for="userAwardDate">Award Date:</label> <input type="date"
						class="form-control userAwardDate" name="date">
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group userAwardOrganisationNameGrp">
					<label for="userAwardOrganisationName">Organisation Name:</label> <input type="text" 
					placeholder="Add Organisation Name"	class="form-control typeahead userAwardOrganisationName" name="organisationName">
				</div>
			 </div>
		</div>
		<div class="form-group text-center">
			<button type="button" style="margin-left: 10px; margin-right: 10px"   
				class="btn btn-primary text-center cancelUserAward">
				Cancel<i style="margin-left: 4px; margin-right: 4px; color:rgb(190, 35, 35)" 
					class="fa fa-remove"></i>
			</button>
			<button type="submit" style="margin-left: 10px; margin-right: 10px" 
				class="btn btn-primary text-center saveUserAward">
				Save<i style="margin-left: 4px; margin-right: 4px; color:rgb(54, 207, 120)" 
					class="fa fa-check"></i>
			</button>
		</div>		
	</form>
</div>

